In [1]:
# The code was removed by Watson Studio for sharing.

Waiting for a Spark session to start...
Spark Initialization Done! ApplicationId = app-20181022145708-0000

,ID,Gender,Status,Children,Est Income,Car Owner,Age,LongDistance,International,Local,Dropped,Paymethod,LocalBilltype,LongDistanceBilltype,Usage,RatePlan
0,1,F,S,1,38000.00,N,24.393333,23.56,0.0,206.08,0,CC,Budget,Intnl_discount,229.64,3
1,6,M,M,2,29616.00,N,49.426667,29.78,0.0,45.50,0,CH,FreeLocal,Standard,75.29,2
2,8,M,M,0,19732.80,N,50.673333,24.81,0.0,22.44,0,CC,FreeLocal,Standard,47.25,3
3,11,M,S,2,96.33,N,56.473333,26.13,0.0,32.88,1,CC,Budget,Standard,59.01,1
4,14,F,M,2,52004.80,N,25.140000,5.03,0.0,23.11,0,CH,Budget,Intnl_discount,28.14,1